@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Date: <input type="text" id="datepicker"></p>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.6.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
        $(document).ready(function() {
            $( "#datepicker" ).datepicker();
        });
</script>